@keyframes colorChange {
    0% {background-color: rgba(245, 245, 245, 0.84);}
    25% {background-color: rgba(241, 238, 248, 0.84);}
    50% {background-color: rgba(236, 241, 236, 0.84);}
    75% {background-color: rgba(249, 232, 239, 0.84);}
    100% {background-color: rgba(245, 245, 245, 0.84);}
}

* {
    cursor: none;
    font-family: 'Noto Sans JP',sans-serif!important;
    font-weight: 300;
}
#custom-cursor {
    z-index: 10;
    position: absolute;
    width: 32px;
    height: 32px;
    background: white;
    border-radius: 50%;
    pointer-events: none;
    mix-blend-mode: difference;
    transition: width ease-in-out .4s, height ease-in-out .4s;
}
#custom-cursor.active {
    width: 48px;
    height: 48px;
}

#container {
    touch-action: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation-name: colorChange;
    animation-duration: 16s;
    animation-iteration-count: infinite;
}
#wrapper {
    pointer-events: none;
    transform-origin: 50% 50%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#map p {
    display: inline-block;
    transform-origin: left top;
    text-align: center;
    position: absolute;
    font-weight: 300;
    opacity: .32;
}
#map p.active {
    opacity: 1;
}
#map p.n1 {font-size: 12px;}
#map p.n2 {font-size: 14px;}
#map p.n3 {font-size: 16px;}
#map p.n4 {font-size: 18px;}
#map p.n5 {font-size: 20px;}
#map p.n6 {font-size: 22px;}


img {
    z-index: -1;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(72px);
}


.btns {
    position: fixed;
    top: 10px;
    left: 10px;
    display: flex;
    gap: 8px;
}
.btns button {
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 64px;
    font-size: 24px;
    font-weight: 300;
    appearance: none;
    border: none;
    outline: none;
    padding-bottom: 4px;
    background-color: white;
    box-shadow: 0 0 24px rgba(17, 17, 17, 0.04);
}
.btns button:last-child {
    font-size: 32px;
    padding-bottom: 12px;
}

#activeList {
    position: fixed;
    top: 72px;
    left: 10px;
    background-color: white;
    border-radius: 4px;
    gap: -8px;
}
#activeList >li {
    padding: 4px 16px;
    font-size: 14px;
    opacity: 0.6;
}
#activeList >li:first-child {
    padding: 16px 16px 4px 16px;
}
#activeList >li:last-child {
    padding: 4px 16px 16px 16px;
}
#activeList > li:only-child {
    padding: 16px;
}